#root {
  text-align: center;
}

.header {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('./bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Arabic, Arial, sans-serif;
}

.timetable {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: start;
  justify-content: start;

}

.pointWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #000000;
  font-size: 26px;
  line-height: 1.55;
  font-weight: 300;
  letter-spacing: 2px;
  align-items: center;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.time {
  text-align: start;
  font-family: "Indico", sans-serif;
}

.img {
  justify-self: center;
  width: 100px;
  height: 100px;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  justify-items: start;
  text-align: start;
}

.description {
  margin: 0;
  padding: 0;
  justify-items: start;
  text-align: start;
}

.line {
  height: 50px;
  width: 0;
  border: 1px solid black;
  justify-self: center;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  gap: 10px;
}

.imgWrapper {
  justify-self: center;
  width: 320px;
  height: 320px;
}

.imgLoc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.locText {
  width: 320px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .img {
    width: 60px;
    height: 60px;
  }
  
  .title {
    font-size: 0.8em;
  }
}